.menuBox{
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 15px;
    z-index: 2000;
    position:absolute;
    left: 3rem;
    top: calc(3rem + 13.1875rem + 1rem);
    background-color: white;
    height: 55vh;
    width: 28.3125rem;
    overflow-y: auto; 
    overflow-x: hidden; /* Hides horizontal scrollbar */
    padding: 20px;
    &::-webkit-scrollbar {
    width: 0px;   /*  hides scroll bar - set width to 0 for vertical scrollbar */
    height: 0px;  /* Set height to 0 for horizontal scrollbar */
    background: transparent; /* Make the scrollbar track transparent */
    }
}

.showAllResultsButton {
    background-image: url('../../../assets/icons/arrow_back.svg');
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-style: none;
    background-repeat: no-repeat;
    
}

.buttonsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;

}

.filterAndArrowsBox {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filterButton {
    appearance: none;
    background-color: transparent;
    background-image: url('../../../assets/icons/filter.svg');
    background-size: contain;
    border-style: none;

    padding: 0.5px;
    width: 16px;
    height:16px;
    margin: 2px;   
}

.arrowsButton {
    appearance: none;
    background-color: transparent;
    background-image: url('../../../assets/icons/sort.svg');
    background-size: contain;
    border-style: none;
    padding: 0.5px;
    width: 13px;
    height:16px;
    margin: 2px; 
}

.closeButton {
   appearance: none;
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
    background-image: url('../../../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-style: none;
    padding: 0.5px;
    width: 16px;
    height:16px;
    margin: 2px;  
    opacity: 0.5;
    
}

.numberOfResults {
    margin: 5px
}

@media (max-width: 768px) {
  .menuBox {
    width: 85%;
    left: 2rem;
    right: 2rem;
    border-radius: 0;
    top: 0;
    /* height: 16rem; */
    height: 55vh;
    /* position: static; */
    position: absolute;
    top: calc(3rem + 13.1875rem + 1rem);
    border-radius: 5%;
  }
}