/* App.css scoped to app */

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  max-height: 100vh; /* Prevent overflow on desktop */
  /* overflow: hidden;  */
  /* Hide overflow */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  width: 100%;
  min-height: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

/* Container to hold map and search overlay */
.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
}

.stationMapContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
  z-index: 0;
}

.footer {
  grid-area: footer;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .App {
    max-height: none; /* mobile to expand */
    overflow: visible; /* mobile scrolling */
  }

  .main {
    padding: 0;
    overflow: visible; /* main content to scroll */
  }
}
