/* App.css scoped to app */

.App {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  min-height: 100vh;
  padding: calc(var(--base-unit) * 4);
  gap: calc(var(--base-unit) * 6);
}

/* .stationMapContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
} */
